.logo{
	width: 150px;
	height: auto;
}

.prize{
	font-size: 2em;
}

svg{
	display:block;
	margin: auto;
}

/* login
*****************************************/
#login{
	padding-top: 5em;
}

#login form{
	width: 500px;
	margin: auto;
}